//colors
$black: #000000;
$white: #ffffff;
$black_16: rgba(0, 0, 0, 0.16);
$purple: #876bd1;
$grey: #797979;
$red: #A33434;

//fonts
$font_0: Avenir Next Reg;
$font_1: Avenir Next Med;


//urls
$url_0: url(../../../../assets/fonts/AvenirNextLTPro-Regular.otf);
$url_1: url(../../../../assets/fonts/AvenirNextLTPro-Demi.otf);


@font-face {
	font-family: $font_0;
	src: $url_0 format("truetype");
}
@font-face {
	font-family: $font_1;
	src: $url_1 format("truetype");
}
.column {
	min-height: 200px;
	color: $black;
	background: $white;
	margin-bottom: 40px;
	box-shadow: 3px 3px 6px $black_16;
	position: relative;
	
}


.form{
	margin-bottom: 100px;
}

.btn{
	font-family: $font_1;
	color: $purple;
	width: 200px;
	height: 50px;
	display: block;
	position: absolute;
	bottom: 15px;
	font-size: 1em;
	margin: auto;

}

#btnNext{
	padding: 12px 0px;
	border: solid 3px $purple;
	right: 0;
	left: 0;

	
}

#btnPrev{
	padding: 8px 0px;

	left: 15px;

}

.control{
	.radio {
		display: inline-block;
		width: 100%;
		margin: 15px 0px;

		span{
			display: block;
			margin-left: 30px;
			margin-top: -20px;

		}
	}
	
	.tips p {
		display: block;
		margin-top: 10px;
	}

	.resIcon {
		display: block;
		width: 200px;
		margin: 50px auto;

	}
}
  



	

  .valMessage {
	  font-family: $font_1;
	  text-align: center;
	  padding-top: 15px;
	  color: $red;
  }

