@import '~css-star-rating/scss/star-rating';


//colors
$black: #000000;
$white: #ffffff;
$black_16: rgba(0, 0, 0, 0.16);
$purple: #876bd1;
$gray_op10: rgba(10,10,10,.1);

$gray: rgb(155, 155, 155);
$blue: #648ED0;
//fonts
$font_0: Avenir Next Reg;
$font_1: Avenir Next Dem;
$font_2: Avenir Next Med;


//urls
$url_0: url(assets/fonts/AvenirNextLTPro-Regular.otf);
$url_1: url(assets/fonts/AvenirNextLTPro-Demi.otf);
$url_2: url(assets/fonts/Avenir-Medium.ttf);



@font-face {
	font-family: $font_0;
	src: $url_0 format("truetype");
}
@font-face {
	font-family: $font_1;
	src: $url_1 format("truetype");
}

@font-face {
	font-family: $font_2;
	src: $url_2 format("truetype");
}


html,body {  
  font-family: 'Avenir Next Reg', 'Open Sans', serif;
  background-image: linear-gradient(#876BD1, #648ED0);
  padding-top: 50px
}

html {
	height: 100%;
  }
  body {
	min-height: 100%;
  }

/* Styles for tab labels */
.mat-tab-label {
	font-family: $font_2;
	font-size: 1em;
	display: inline-block;
    padding: 5px;
	color: $white;
	width: 50%!important;
	opacity: 1!important;
}

.mat-ripple-element {
	transform: none!important;
	left: 0;
	width: 100%!important;

}

.mat-tab-label-content {
	display: block;
	position: absolute;
	width: 100%!important;

}

.mat-tab-group{
    background-color: transparent;
	margin-bottom: 70px;

}

.mat-tab-label.mat-tab-label-active {
	background-color: $white;
    color: $black;
}

.mat-ink-bar {
	background-color: $black;
	width: 50%!important;

	
}