//colors
$black: #000000;
$white: #ffffff;
$black_16: rgba(0, 0, 0, 0.16);
$purple: #876bd1;
$purple_op6: rgba(135,107,209, 0.6);

$gray_op10: rgba(10,10,10,.1);

$gray: rgb(155, 155, 155);
$blue: #648ED0;
$red: #A33434;

$font_0: Avenir Next Reg;
$font_1: Avenir Next Dem;
$font_2: Avenir Next Med;


//urls
$url_0: url(../../../../assets/fonts/AvenirNextLTPro-Regular.otf);
$url_1: url(../../../../assets/fonts/AvenirNextLTPro-Demi.otf);
$url_2: url(../../../../assets/fonts/Avenir-Medium.ttf);



@font-face {
	font-family: $font_0;
	src: $url_0 format("truetype");
}
@font-face {
	font-family: $font_1;
	src: $url_1 format("truetype");
}

@font-face {
	font-family: $font_2;
	src: $url_2 format("truetype");
}






.userList {
	position: relative;
	min-height: 50px;
	background: $white;
	padding: 0px 15px;
	margin-bottom: 80px;
	box-shadow: 3px 3px 6px $black_16;


	.listItem{

		&:last-of-type{
			margin-bottom: -30px;
	
			hr{
			
				visibility: hidden;
			
		}
		}
		a {
			p {
				color: $black	

			}

			.small {
				color: $gray
			}
			
	}
		
	}

.btn  {
	display: inline-block;
	position: absolute;
	width: 120px;
	text-align: center;
	height: 30px;
	padding: 5px;
	background: $white;
	text-decoration: underline;
	top: 15px;
	font-size: 1em;



}

.accept {
	right: 135px;
	color: $blue;


}

.ignore {
	right: 0;
	color: $red;

} 

.msgReq {
	display: inline-block;
	position: absolute;
	width: 80px;
	right: 15px;
	top: 0;
	color: $blue;

	i {
		display: inline-block;

	}
}

	div {
		margin-top: 30px;
		position: relative;
		
		
	}

	div a > p {
		display: block;
		position: absolute;
		left: 75px;
		top: 15px;
		font-size: 1.2em;
		line-height: 0em;


	}


	.meItem{
		color: #876bd1;
		font-family: $font_2;
	}

	.distance{
		margin-top: 20px;
		font-size: 1em
	}
}

.avatarThumb {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	margin-right: 15px; 

	figure {
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border-radius: 50%;
	
	
	}
}

