<div id="bottom-nav">

    <div class="columns is-mobile">
        <div class="column">
            <a routerLink="/profile">
                <i class="fas fa-user"></i>
            </a>
        </div>
        <div class="column">
            <a routerLink="/track">
                <i class="fas fa-chart-bar"></i>
            </a>
        </div>
        <div class="column">
            <a routerLink="/map">
                <i class="fas fa-users"></i>
            </a>
        </div>
        <div class="column">
            <a routerLink="/tipstools">
                <i class="fas fa-wrench"></i>
            </a>
        </div>
        <div class="column">
            <a routerLink="/posts">
                <i class="fas fa-hashtag"></i>
            </a>
        </div>

    </div>

</div>